{
  "extends": [
    "plugin:vue/recommended",
    "eslint:recommended",
    "prettier",
    "prettier/vue"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "max-len": [
      "error",
      {
        "code": 120
      }
    ]
  }
}
